[user]
	name = Jon Higgs
	email = jhiggs@eml.cc
[help]
	autocorrect = 1
[core]
	excludesfile = ~/.gitignore_global
[diff]
  tool = opendiff
[merge]
	tool = opendiff
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status
	master-rebaser = !git fetch && git rebase origin/master
[url "git@github.com:"]
	insteadOf = https://github.com/
